@font-face{/*Bioshock*/
	font-family:Andes;
	src:url('../fonts/Andes/Andes.eot');
	src:url('../fonts/Andes/Andes.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Andes/Andes.woff') format('woff'),
		url('../fonts/Andes/Andes.ttf') format('truetype'),
		url('../fonts/Andes/Andes.otf') format('truetype'),
		url('../fonts/Andes/Andes.svg#Andes') format('svg');
		  /*Fonctionne pas pour ie*/
}
@font-face {/*Drakengard 3*/
  font-family:Life;
  src: url('../fonts/Life/LifeBT-Bold.woff') format('woff'),
       url('../fonts/Life/LifeBT-Bold.ttf') format('truetype'),
       url('../fonts/Life/LifeBT-Bold.svg#LifeBT-Bold') format('svg');
}
@font-face {/*The last of us*/
    font-family:Bebas;
    src: url('../fonts/Bebas/bebasneue-webfont.eot');
    src: url('../fonts/Bebas/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/Bebas/bebasneue-webfont.woff') format('woff'),
         url('../fonts/Bebas/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/Bebas/bebasneue-webfont.svg#bebas_neueregular') format('svg');
}
@font-face {/*Rose | Lettrine article(ex->drake3)*/
    font-family:Rose;
    src: url('../fonts/Rose/rosecaps-webfont.eot');
    src: url('../fonts/Rose/rosecaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rose/rosecaps-webfont.woff2') format('woff2'),
         url('../fonts/Rose/rosecaps-webfont.woff') format('woff'),
         url('../fonts/Rose/rosecaps-webfont.ttf') format('truetype'),
         url('../fonts/Rose/rosecaps-webfont.svg#rosecaps') format('svg');
}
/*Modif' scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(24,24,24,.7); 
    border-radius: 10px;
	background-color:rgba(255,255,255,.7);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(24,24,24,.5); 
}
.cb{
	clear:both;
}
body{
	margin:0;padding:0;
}
a{
	text-decoration:none;
}
.hugecatetitle{
	text-align:center;
	font-family:Lora;
	font-weight:400;
	font-size:72px;
	margin:60px 0 60px 0;
}
.containerlastwords{
	position:relative;
	width:100%;
	height:415px;
	margin-bottom:40px;
}
.bigcontainerlastwords{
	width:100%;
	height:350px;
	background:url('');
	background-position:left;
	background-repeat:no-repeat;
	position:relative;
	overflow:hidden;
	z-index:2;
	background-color:black;
}
/*Je disable, par défaut, les article n+4*/
.containerlastwords:nth-child(n+12){/*Il faut y aller de 3 en 3(1 section = 3 children).Si je veux add un article en plus, je mets n+15*/
	display:none;
}
.bigcontainerlastwords img{
	position:absolute;
	left:0;
	top:0;
}
.bigcontainerlastwords a:nth-child(2) h4{
	color:white;
	font-family:Andes;
	text-align:center;
	font-size:100px;
	line-height:712px;
	margin:0;
	z-index:2;
	font-weight:normal;
}
.containerlastwords a h4{
	color:black;
	text-align:center;
	margin:-43px 0 100px 0;
	position:relative;
	font-family:Andes;
	z-index:1;
	font-size:100px;
	font-weight:normal;
}
/*Bouton viewmore*/
.viewmoreindex{
	margin:60px 0 10px 0;
	text-align:center;
	font-size:60px;
	font-family:Lora;
}
.viewmoreindex img{
	margin-top:15px;
	cursor:pointer;
}
/*Style du nav/header et donc du menu.php*/
.header div:nth-child(1){
	width:80px;
	height:80px;
	border-top:3px solid #181818;
	border-left:3px solid #181818;
	border-bottom:3px solid #181818;
	position:fixed;
	right:0;
	top:20%;
	z-index:1000;
	cursor:pointer;
	color:rgba(255,255,255,.5);
	font-family:Lora;
	font-weight:700;
	text-align:center;
	line-height:80px;
	font-size:72px;
	background:url('../images/menu/film.jpg');
	
}
.header a:nth-child(2) img{
	margin:0 auto 0 auto;
	display:block;
}
.header h1:nth-child(3){
	color:black;
	font-family:Lora;
	font-style:italic;
	font-size:36px;
	margin:20px 0 20px 0;
	text-align:center;
	font-weight:400;
}
.nav{
	width:100%;
	height:134px;
	border-top:3px solid #181818;border-bottom:3px solid #181818;
	background-color:black;
	position:fixed;
	z-index:9999;
	top:20%;
}
/*Area inscription/connexion/admin/profil*/
.connexption{
	position:fixed;
	z-index:1001;
	width:180px;
	height:25px;
	top:0;
	right:5%;
	border-bottom:3px solid #181818;
	border-left:3px solid #181818;
	border-right:3px solid #181818;
	background-color:black;
	margin:auto;
}
.connexption p{
	margin:0 auto 0 auto;
	line-height:25px;
	color:white;
	font-family:Lora;
	font-size:16px;
	text-align:center;
	
}
.connexption p span{
	cursor:pointer;
}
.nav form legend{
	font-family:Lora;
	margin:4px auto 0 auto;
	color:white;
}
.nav form div:nth-child(2){
	width:50%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.nav form div:nth-child(2) input:nth-child(2){
	width:100%;
	height:34px;
	border-top:1px solid #373737;
	border-right:1px solid #373737;
	border-bottom:1px solid #373737;
	border-left:0;
	margin:8px auto 0 auto;
	text-align:center;
	font-family:Lora;
}
.nav form div:nth-child(2) input:nth-child(1){
	float:left;
	background:url('../images/menu/search.jpg');
	background-repeat:no-repeat;
	background-position:center;
	width:30px;
	height:38px;
	border-right:0;
	border-top:1px solid #373737;
	border-left:1px solid #373737;
	border-bottom:1px solid #373737;
	background-color:white;
	cursor:pointer;
	position:absolute;
	top:8px;
	left:0;
}
.containercate{
	width:100%;
	height:102px;
	margin-top:9px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
}
.containercate article{
	height:106px;
	width:86px;
	position:relative;
	float:left;
	cursor:pointer;
}
.containercate article div{
	width:80px;
	height:80px;
	border:3px solid #181818;
	border-radius:3px;
	background-color:black;
	overflow:hidden;
}
.containercate article p{
	margin-bottom:-4px;
	margin-top:0;
	font-family:Andes;
	color:white;
	font-size:20px;
	text-align:center;
	float:left;
	width:100%;
	text-shadow:1px 1px #181818;
}
.containercate article div img{
	position:absolute;
	margin:0;
}
.closemoi{
	position:absolute;
	width:40px;
	height:40px;
	background-color:black;
	color:white;
	font-family:Andes;
	text-align:center;
	border-radius:40px;
	border:1px solid #181818;
	font-size:20px;
	line-height:40px;
	top:-20px;right:-5px;
	cursor:pointer;
}
/****************************************
/			Style univers.php			/
/***************************************/
.containerprearticle{
	width:100%;
}
.containerprearticle article{
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
}
.containerprearticle article div:nth-child(1){
	width:150px;
}
.containerprearticle article div:nth-child(1) img{
	width:100%;
	float:right;
}
.containerprearticle article div:nth-child(2){
	width:85%;
	height:150px;
}
/*Article preview*/
.containerprearticle a{
	color:black;
}
.containerprearticle article div:nth-child(2) h5{
	float:left;
	font-family:Lora;
	font-size:24px;
	margin:0 0 3px 0;
}
.containerprearticle article div:nth-child(2) p{
	font-family:Lora;
	font-size:20px;
	margin:16px 0 0 0;
	text-align:justify;
	height:123px;
	overflow:hidden;
}
.voidbait{
	width:150px;
}
.containerprearticle article div:nth-child(4){
	width:85%;
	height:20px;
}
.containerprearticle article div:nth-child(4) p{
	font-size:16px;
	font-family:Lora;
	margin:15px 0 0 0;
	float:left;
}
.containerprearticle article div:nth-child(4) a{
	display:block;
	float:right;
	margin-top:15px;
	color:black;
	font-weight:bold;
}
/****************************************************
*********FREAKING STYLE des articles de mort*********
****************************************************/
.titlearticle{
	text-align:center;
	font-family:Lora;
	font-size:48px;
	margin-bottom:40px;
}
.containerinfoart{
	width:95%;
	margin:auto;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
}
.containerinfoart hr{
	width:20%;
	border:1px solid black;
	margin:0;
}
.containerinfoart span{
	font-family:Lora;
	font-size:24px;
}
.containerinfoart img{
	width:75px;
}
.containerarticle{
	width:95%;
	margin:auto;
}
.containerarticle h3{
	margin-bottom:40px;
	font-size:36px;
	font-family:Lora;
	text-align:right;
}
.containerarticle h3 span{
	font-style:italic;
}
.containerarticle p{
	font-size:16px;
	font-family:Lora;
	text-align:justify;
	line-height:20px;
}
.containerarticle p span{
	font-family:Rose;
	font-size:60px;
}
.containerarticle figure{
	margin:0 auto 5px auto;
	padding:0;
	width:467px;
	height:205px;
	position:relative;
	border:3px solid black;
	border-radius:3px;
	background-color:black;
	overflow:hidden;
}
.containerarticle figure img{
	position:absolute;
	top:0;
	left:0;
	width:110%;/*Provisoire*/
	z-index:0;
}
.containerarticle figure figcaption{
	width:70px;
	height:70px;
	border-radius:70px;
	background-color:black;
	position:absolute;
	top:-35px;
	right:-35px;
	box-shadow:1px 3px 1px rgba(0,0,0,.7);
	color:white;
	font-family:Lora;
	cursor:pointer;
}
.containerarticle figure figcaption span{
	position:absolute;
	bottom:9px;
	left:15px;
	font-size:24px;
}
.littleresume{
	display:block;
	text-align:center;
	font-style:italic;
	font-family:Lora;
	font-size:14px;
	margin-bottom:25px;
}
/********************************************
*		Style de logisfil(La sidebar)		*
********************************************/
.logisfil{
	width:200px;
	height:100%;
	position:fixed;
	background-color:black;
	left:0;
	top:0;
	border-right:8px solid #181818;
	z-index:9998;
	display:none;
}
.closelogisfil{
	position:absolute;
	width:40px;
	height:40px;
	background-color:black;
	color:white;
	font-family:Andes;
	text-align:center;
	border-radius:40px;
	border:1px solid #181818;
	font-size:20px;
	line-height:40px;
	top:-10px;right:-25px;
	cursor:pointer;
}
.containeravatarlogisfil{
	width:198px;
	height:198px;
	overflow:hidden;
	border:1px solid #181818;
	border-radius:198px;
	padding:0;
	margin:auto;
	position:relative;
}
.containeravatarlogisfil img{
	width:200px;
	position:absolute;
	z-index:-1;
}
.containeravatarlogisfil span{
	position:absolute;
	bottom:15px;
	left:24%;
	color:white;
	font-family:Lora;
	font-size:14px;
	font-style:italic;
	text-shadow:1px 1px 1px rgba(0,0,0,.7);
	cursor:pointer;
	z-index:2;
}
.containeravatarlogisfil:hover figcaption{
	opacity:1;
	margin-top:0;
}
.containeravatarlogisfil figcaption{
	z-index:1;
	width:198px;
	height:198px;
	background-color:rgba(0,0,0,.7);
	opacity:0;
	margin-top:200px;
	transition:all .7s;
	text-align:center;
	color:white;
}
.containeravatarlogisfil figcaption h5{
	padding-top:35%;
	margin:0;
	font-family:Bebas;
	font-weight:normal;
	font-size:48px;
	width:200px;
}
.containeravatarlogisfil figcaption p{
	margin-top:-10px;
	margin-bottom:0;
	font-family:Lora;
	font-style:italic;
	font-size:14px;
	width:200px;
}